#land-field {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1px;
    background-color: black;
}

.land-tile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    aspect-ratio: 1;
    gap: 1px;
}
.land-tile > *:hover {
    filter: brightness(0.9);
}

.Grass {
    background-color: forestgreen;
}
.Grass > * {
    background-color: lightgreen;
}
.Mud {
    background-color: saddlebrown;
}
.Mud > * {
    background-color: sandybrown;
}
.Water {
    background-color: blue;
}
.Water > * {
    background-color: cornflowerblue;
}