@using EvoApp.Repositories
@using EvoApp.Enums
@inject IWorldItemsRepo worldItemsRepo


@foreach (var plant in worldItemsRepo.GetPlants())
{
    <div data-tier="@plant.tier">
        <label for="st@($"{plant.tier}{plant.subcategory}")">@plant.Name</label>
        <input type="radio" id="st@($"{plant.tier}{plant.subcategory}")" name="subtype" value="@plant.subcategory" />
    </div>
}

<style>
    input[name="subtype"] {
        display: none;
    }
    
    label:has(+input:checked) {
        color: white;
    }
    label {
        width: 50%;
        height: min-content;
        padding: 5px;
    }
</style>