<div data-tier="1">
    <label for="st11">Oak</label>
    <input type="radio" id="st11" name="subtype" value="1" />
    <label for="st12">Birch</label>
    <input type="radio" id="st12" name="subtype" value="2" />
    <label for="st13">Maple</label>
    <input type="radio" id="st13" name="subtype" value="3" />
</div>
<div data-tier="2">
    <label for="st21">Oak</label>
    <input type="radio" id="st21" name="subtype" value="1" />
    <label for="st22">Birch</label>
    <input type="radio" id="st22" name="subtype" value="2" />
    <label for="st23">Maple</label>
    <input type="radio" id="st23" name="subtype" value="3" />
</div>
<div data-tier="3">
    <label for="st31">Oak</label>
    <input type="radio" id="st31" name="subtype" value="1" />
    <label for="st32">Birch</label>
    <input type="radio" id="st32" name="subtype" value="2" />
    <label for="st33">Maple</label>
    <input type="radio" id="st33" name="subtype" value="3" />
</div>

<style>
    input[name="subtype"] {
        display: none;
    }
    
    label:has(+input:checked) {
        color: white;
    }
    label {
        width: 50%;
        height: min-content;
        padding: 5px;
    }
</style>