<label for="tree1">Oak</label>
<input type="radio" id="tree1" name="item" value="1" />
<label for="tree2">Birch</label>
<input type="radio" id="tree2" name="item" value="2" />
<label for="tree3">Maple</label>
<input type="radio" id="tree3" name="item" value="3" />

<style>
    input[name="item"] {
        display: none;
    }
    
    label:has(+input:checked) {
        color: white;
    }
    label {
        width: 50%;
        height: min-content;
        padding: 5px;
    }
</style>