main {
    display: grid;
    width: 80vmin;
    aspect-ratio: 1;
}

header {
    height: 10vmin;
}

aside {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 20vmin;
    background-color: black;
    grid-column: 2 / auto;
    grid-row: 1 / span 2;
    overflow: hidden;
}

.text-Grass {
    color: lawngreen;
}

.text-Mud {
    color: saddlebrown;
}

.text-Water {
    color: cornflowerblue;
}