main {
    display: grid;
    width: 95vmin;
    aspect-ratio: 1;
}

aside {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    min-width: 20vmin;
    width: 10vw;
    background-color: black;
}

.text-Grass {
    color: lawngreen;
}

.text-Mud {
    color: saddlebrown;
}

.text-Water {
    color: cornflowerblue;
}